<!DOCTYPE html>
{% load staticfiles %}		
<html lang="zh">
<head>
    <meta id="page-data" 
        data-user-id=""
        data-user-email=""
        data-user-username=""
        data-user-premium="false"
        data-user-first-name=""
        data-user-last-name=""
        data-user-full-name=""
        data-user-created="0"
        data-user-id=""
        data-user-active=""
        data-user-region=""
        data-user-version=""
        data-api-url="https://api.c9.io"
        data-page-name=""
        data-page-title="CMRS"
        data-page-properties={}
        data-login-source=""
        data-segmentio-key="661kw1sv26"
    >

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cloud9 combines a powerful online code editor with a full Ubuntu workspace in the cloud. Cloud9 supports more than 40 languages, with class A support for PHP, Ruby, Python, JavaScript, Go, and more.">
    <meta name="keywords" content="Cloud9, Cloud9 IDE, code, editor, IDE, workspace, Docker, Home" />
    <meta name="author" content="Cloud9">
    <meta name="norton-safeweb-site-verification" content="1ju17eccbb7vhyaf2st7r8uxlrf5ifz1myh32gft3olhl7j00e0mzx4inm7-bg2qwmqcr60hv0wit79s52d84ozdxx5-w38m0dbfbtrnql56ykgccohb9l25np6v-uv9" />
    

    
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <base target="_parent" />
    
    <title>方剂文献库</title>
    
    <!-- Bootstrap core -->
    <link href="https://static.c9.io/nc-3.1.3492-89e670f8/static/homepage/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="https://static.c9.io/nc-3.1.3492-89e670f8/static/homepage/stylesheets/fonts.css" rel="stylesheet">
    
    <link href="https://static.c9.io/nc-3.1.3492-89e670f8/static/homepage/stylesheets/ladda-themeless.min.css" rel="stylesheet">
    
    <!-- Custom styles -->
    <link href="https://static.c9.io/nc-3.1.3492-89e670f8/static/homepage/stylesheets/c9.css" rel="stylesheet">
    
    <link href="https://static.c9.io/nc-3.1.3492-89e670f8/static/homepage/stylesheets/homepage.css" rel="stylesheet">
     <!-- CCIR2017 styles -->
	<link href="https://www.ccir2017.cn/resources/css/idangerous.swiper.css" rel="stylesheet" type="text/css"/>
    <link href="https://www.ccir2017.cn/resources/css/style.css" rel="stylesheet" type="text/css"/>

    <script>window.c9options = { apiUrl: "https://api.c9.io" }</script>

    <script type="text/javascript" src="https://static.c9.io/nc-3.1.3492-89e670f8/static/homepage/javascripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://static.c9.io/nc-3.1.3492-89e670f8/static/homepage/javascripts/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="https://static.c9.io/nc-3.1.3492-89e670f8/static/homepage/javascripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://static.c9.io/nc-3.1.3492-89e670f8/static/homepage/javascripts/jquery-ui-1.10.4.custom.min.js"></script>
    
    <!-- Lightbox -->
    <script type="text/javascript" src="https://static.c9.io/nc-3.1.3492-89e670f8/static/homepage/javascripts/lightbox.min.js"></script>
    <link href="https://static.c9.io/nc-3.1.3492-89e670f8/static/homepage/stylesheets/lightbox.css" rel="stylesheet">
    <!-- Spinners (http://msurguy.github.io/ladda-bootstrap/) -->
    <script type="text/javascript" src="https://static.c9.io/nc-3.1.3492-89e670f8/static/homepage/javascripts/spin.min.js"></script>
    <script type="text/javascript" src="https://static.c9.io/nc-3.1.3492-89e670f8/static/homepage/javascripts/ladda.min.js"></script>

    <!-- Scrolling effects & carrousels -->
    <script type="text/javascript" src="https://static.c9.io/nc-3.1.3492-89e670f8/static/homepage/javascripts/waypoints.min.js"></script>
    
    <!-- Segment.io core script & identifying user -->
    <script type="text/javascript" src="https://static.c9.io/nc-3.1.3492-89e670f8/static/homepage/javascripts/pages/header.js"></script>
	<script type="text/javascript">function test(){ window.location.href='./echars1'; }</script>
</head>



<body id="home" class="logged-out">


<header id="header-hav" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div id="navBg" >

        <section id="navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>		
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                     <li >
                        <a href="http://lingmiaodata.com">主页</a>
                    </li>
					<li>
                        <a href="http://lingmiaodata.com/data/">方剂文献库</a>
                    </li>
                    <li>
                        <a href="http://lingmiaodata.com/echars1/">中草药对</a>
                    </li>
                    <li>
                        <a href="http://lingmiaodata.com/echars2/">关联规则</a>
                    </li>                    
                    <li >
                        <a>联系我们</a>
                    </li>
                    <li class="logout">
                        <a title="Go to your Dashboard">Dashboard</a>
                        <button class="btnLogout" role="button" id="btnLogout">Sign Out</button>
                    </li>
                    <li class="login signin">
                        <a class="btnLogin" id="navSignUp">Try Cloud9</a>
                    </li>
                    <li class="login">
                        <a class="btnLogin" id="signIn">Sign in</a>
                    </li>
                                     
                    
                    </li>
                </ul>
            </div>
        </section>
    </div>
</header>

<div id="homepage" class="homepage">

    <div id="top-header" style="background-image: url('https://static.c9.io/nc-3.1.3492-89e670f8/static/homepage/images/header_bg.jpg'), 
	url('https://static.c9.io/nc-3.1.3492-89e670f8/static/homepage/images/header_bg_repeat.jpg');
    background-position: left 0, left top;
    background-repeat: no-repeat, repeat;
    background-attachment: fixed, fixed;
    min-height: 75px;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    position: relative;">
       
    </div>

    <a name="workspaces"></a>
         <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="padding:0px 100px 100px 100px;">
	 <h3 class="org_title">解表剂</h3>
                    <HR style="FILTER: alpha(opacity=0,finishopacity=100,style=1)" width="80%" color=#987cb9 SIZE=3>
                    <table border="0" width="100%"style="font-family: "Arial", "Microsoft YaHei";font-size: 14px;line-height: 1.8;text-align: left;">
                         <tr>
                            <td width="25%"><a href="./search/?name=射干麻黄汤">射干麻黄汤</a></td>
                            <td width="25%"><a href="./search/?name=桂枝汤">桂枝汤</a></td>
							<td width="25%"><a href="./search/?name=九味羌活汤">九味羌活汤</a></td>
                            <td width="25%"><a href="./search/?name=加味香苏散">加味香苏散</a></td>							
                        </tr>
                        <tr>
                            <td><a href="./search/?name=小青龙汤">小青龙汤</a></td>
                            <td><a href="./search/?name=银翘散">银翘散</a></td>
							 <td><a href="./search/?name=桑菊饮">桑菊饮</a></td>
                            <td><a href="./search/?name=麻杏甘石汤">麻杏甘石汤</a></td>
                        </tr>
                        <tr>
                            <td><a href="./search/?name=柴葛解肌汤">柴葛解肌汤</a></td>
                            <td><a href="./search/?name=升麻葛根汤">升麻葛根汤</a></td>
							 <td><a href="./search/?name=败毒散">败毒散</a></td>
                            <td><a href="./search/?name=再造散">再造散</a></td>
                        </tr>
                        <tr>
                            <td><a href="./search/?name=加减葳蕤汤">加减葳蕤汤</a></td>
                            <td><a href="./search/?name=麻黄附子细辛汤">麻黄附子细辛汤</a></td>
                        </tr>                      
                    </table>
                    <br />
					
	<h3 class="org_title">泻下剂</h3>
                    <HR style="FILTER: alpha(opacity=0,finishopacity=100,style=1)" width="80%" color=#987cb9 SIZE=3>
                    <table border="0" width="100%"style="font-family: "Arial", "Microsoft YaHei";font-size: 14px;line-height: 1.8;text-align: left;">
                         <tr>
                            <td width="25%"><a href="./search/?name=大承气汤">大承气汤</a></td>
                            <td width="25%"><a href="./search/?name=大黄牡丹汤">大黄牡丹汤</a></td>
							<td width="25%"><a href="./search/?name=大黄附子汤">大黄附子汤</a></td>
                            <td width="25%"><a href="./search/?name=温脾汤">温脾汤</a></td>							
                        </tr>
                        <tr>
                            <td><a href="./search/?name=麻子仁丸">麻子仁丸</a></td>
                            <td><a href="./search/?name=十枣汤">十枣汤</a></td>
							 <td><a href="./search/?name=增液承气汤">增液承气汤</a></td>
                            <td><a href="./search/?name=舟车丸">舟车丸</a></td>
                        </tr>
                        <tr>
                            <td><a href="./search/?name=黄龙汤">黄龙汤</a></td>
                            <td><a href="./search/?name=新加黄龙汤">新加黄龙汤</a></td>							
                        </tr>
                                              
                    </table>
                    <br />
	<h3 class="org_title">和解剂</h3>
                    <HR style="FILTER: alpha(opacity=0,finishopacity=100,style=1)" width="80%" color=#987cb9 SIZE=3>
                    <table border="0" width="100%"style="font-family: "Arial", "Microsoft YaHei";font-size: 14px;line-height: 1.8;text-align: left;">
                         <tr>
                            <td width="25%"><a href="./search/?name=小柴胡汤">小柴胡汤</a></td>
                            <td width="25%"><a href="./search/?name=蒿芩清胆汤">蒿芩清胆汤</a></td>
							<td width="25%"><a href="./search/?name=四逆散">四逆散</a></td>
                            <td width="25%"><a href="./search/?name=逍遥散">逍遥散</a></td>							
                        </tr>
                        <tr>
                            <td><a href="./search/?name=痛泻药方">痛泻药方</a></td>
                            <td><a href="./search/?name=半夏泻心汤">半夏泻心汤</a></td>							
                        </tr>                                        
                    </table>
                    <br />
	<h3 class="org_title">清热剂</h3>
                    <HR style="FILTER: alpha(opacity=0,finishopacity=100,style=1)" width="80%" color=#987cb9 SIZE=3>
                    <table border="0" width="100%"style="font-family: "Arial", "Microsoft YaHei";font-size: 14px;line-height: 1.8;text-align: left;">
                       <tr>
                            <td width="25%"><a href="./search/?name=白虎汤">白虎汤</a></td>
                            <td width="25%"><a href="./search/?name=竹叶石膏汤">竹叶石膏汤</a></td>
							<td width="25%"><a href="./search/?name=清营汤">清营汤</a></td>
                            <td width="25%"><a href="./search/?name=犀角地黄汤">犀角地黄汤</a></td>							
                        </tr>
                        <tr>
                            <td><a href="./search/?name=黄连解毒汤">黄连解毒汤</a></td>
                            <td><a href="./search/?name=凉膈散">凉膈散</a></td>
							 <td><a href="./search/?name=普济消毒饮">普济消毒饮</a></td>
                            <td><a href="./search/?name=清瘟败毒饮">清瘟败毒饮</a></td>
                        </tr>
                        <tr>
                            <td><a href="./search/?name=导赤散">导赤散</a></td>
                            <td><a href="./search/?name=泻白散">泻白散</a></td>
							 <td><a href="./search/?name=龙胆泻肝汤">龙胆泻肝汤</a></td>
                            <td><a href="./search/?name=左金丸">左金丸</a></td>
                        </tr>
                        <tr>
                            <td><a href="./search/?name=清胃散">清胃散</a></td>
                            <td><a href="./search/?name=玉女煎">玉女煎</a></td>
							<td><a href="./search/?name=芍药汤">芍药汤</a></td>
                            <td><a href="./search/?name=白头翁汤">白头翁汤</a></td>
                        </tr>    
						<tr>
                            <td><a href="./search/?name=青蒿鳖甲汤<">青蒿鳖甲汤</a></td>
                            <td><a href="./search/?name=清骨散">清骨散</a></td>
							<td><a href="./search/?name=当归六黄汤">当归六黄汤</a></td>
                            <td><a href="./search/?name=苇茎汤">苇茎汤</a></td>
                        </tr>  
						<tr>
                            <td><a href="./search/?name=牛蒡解肌汤">牛蒡解肌汤</a></td>
                            <td><a href="./search/?name=四妙勇安汤">四妙勇安汤</a></td>
							<td><a href="./search/?name=秦艽鳖甲散">秦艽鳖甲散</a></td>
                            <td><a href="./search/?name=五味消毒饮">五味消毒饮</a></td>
                        </tr>  						
                    </table>
                    <br />
	<h3 class="org_title">祛暑剂</h3>
                    <HR style="FILTER: alpha(opacity=0,finishopacity=100,style=1)" width="80%" color=#987cb9 SIZE=3>
                    <table border="0" width="100%" style="font-family: "Arial", "Microsoft YaHei";font-size: 14px;line-height: 1.8;text-align: left;">
                        <tr>
                            <td width="25%"><a href="./search/?name=新加香薷饮">新加香薷饮</a></td>
                            <td width="25%"><a href="./search/?name=六一散">六一散</a></td>
							<td width="25%"><a href="./search/?name=清络饮">清络饮</a></td>
                            <td width="25%"><a href="./search/?name=清暑益气汤">清暑益气汤</a></td>							
                        </tr>                                     
                    </table>
                    <br />		
<h3 class="org_title">温里剂</h3>
                    <HR style="FILTER: alpha(opacity=0,finishopacity=100,style=1)" width="80%" color=#987cb9 SIZE=3>
                    <table border="0" width="100%"style="font-family: "Arial", "Microsoft YaHei";font-size: 14px;line-height: 1.8;text-align: left;">
                       <tr>
                            <td width="25%"><a href="./search/?name=理中丸">理中丸</a></td>
                            <td width="25%"><a href="./search/?name=吴茱萸汤">吴茱萸汤</a></td>
							<td width="25%"><a href="./search/?name=大建中汤">大建中汤</a></td>
                            <td width="25%"><a href="./search/?name=小建中汤">小建中汤</a></td>							
                        </tr>
                        <tr>
                            <td><a href="./search/?name=四逆汤">四逆汤</a></td>
                            <td><a href="./search/?name=阳和汤">阳和汤</a></td>
							 <td><a href="./search/?name=回阳救急汤">回阳救急汤</a></td>
                            <td><a href="./search/?name=当归四逆汤">当归四逆汤</a></td>
                        </tr>
                        <tr>
                            <td><a href="./search/?name=黄芪桂枝五物汤">黄芪桂枝五物汤</a></td>
 						 </tr>
                    </table>
                    <br />
<h3 class="org_title">表里双解剂</h3>
                    <HR style="FILTER: alpha(opacity=0,finishopacity=100,style=1)" width="80%" color=#987cb9 SIZE=3>
                    <table border="0" width="100%"style="font-family: "Arial", "Microsoft YaHei";font-size: 14px;line-height: 1.8;text-align: left;">
                       <tr>
                            <td width="25%"><a href="./search/?name=葛根芩连汤">葛根芩连汤</a></td>
                            <td width="25%"><a href="./search/?name=石膏汤">石膏汤</a></td>
							<td width="25%"><a href="./search/?name=五积散">五积散</a></td>
                            <td width="25%"><a href="./search/?name=大柴胡汤">大柴胡汤</a></td>							
                        </tr>
                        <tr>
                            <td><a href="./search/?name=防风通圣散">防风通圣散</a></td>
                     	 </tr>			
                    </table>
                    <br />
<h3 class="org_title">补益剂</h3>
                    <HR style="FILTER: alpha(opacity=0,finishopacity=100,style=1)" width="80%" color=#987cb9 SIZE=3>
                    <table border="0" width="100%"style="font-family: "Arial", "Microsoft YaHei";font-size: 14px;line-height: 1.8;text-align: left;">
                       <tr>
                            <td width="25%"><a href="./search/?name=四君子汤">四君子汤</a></td>
                            <td width="25%"><a href="./search/?name=参苓白术散">参苓白术散</a></td>
							<td width="25%"><a href="./search/?name=补中益气汤">补中益气汤</a></td>
                            <td width="25%"><a href="./search/?name=完带汤">完带汤</a></td>							
                        </tr>
                        <tr>
                            <td><a href="./search/?name=玉屏风散">玉屏风散</a></td>
                            <td><a href="./search/?name=生脉散">生脉散</a></td>
							 <td><a href="./search/?name=四物汤">四物汤</a></td>
                            <td><a href="./search/?name=当归补血汤">当归补血汤</a></td>
                        </tr>
                        <tr>
                            <td><a href="./search/?name=归脾汤">归脾汤</a></td>
                            <td><a href="./search/?name=内补黄芪汤">内补黄芪汤</a></td>
							 <td><a href="./search/?name=炙甘草汤">炙甘草汤</a></td>
                            <td><a href="./search/?name=泰山磐石散">泰山磐石散</a></td>
                        </tr>
                        <tr>
                            <td><a href="./search/?name=六味地黄丸">六味地黄丸</a></td>
                            <td><a href="./search/?name=左归丸">左归丸</a></td>
							<td><a href="./search/?name=大补阴丸">大补阴丸</a></td>
                            <td><a href="./search/?name=一贯煎">一贯煎</a></td>
                        </tr>    
						<tr>
                            <td><a href="./search/?name=补肺阿胶汤">补肺阿胶汤</a></td>
                            <td><a href="./search/?name=肾气丸">肾气丸</a></td>
							<td><a href="./search/?name=右归丸">右归丸</a></td>
                            <td><a href="./search/?name=地黄饮子">地黄饮子</a></td>
                        </tr>  
						<tr>
                            <td><a href="./search/?name=虎潜丸">虎潜丸</a></td>                           
                        </tr>  						
                    </table>
                    <br />
<h3 class="org_title">安神剂</h3>
                    <HR style="FILTER: alpha(opacity=0,finishopacity=100,style=1)" width="80%" color=#987cb9 SIZE=3>
                    <table border="0" width="100%"style="font-family: "Arial", "Microsoft YaHei";font-size: 14px;line-height: 1.8;text-align: left;">
                       <tr>
                            <td width="25%"><a href="./search/?name=朱砂安神丸">朱砂安神丸</a></td>
                            <td width="25%"><a href="./search/?name=磁朱丸">磁朱丸</a></td>
							<td width="25%"><a href="./search/?name=珍珠母丸">珍珠母丸</a></td>
                            <td width="25%"><a href="./search/?name=天王补心丹">天王补心丹</a></td>							
                        </tr>
                        <tr>
                            <td><a href="./search/?name=酸枣仁汤">酸枣仁汤</a></td>
                            <td><a href="./search/?name=甘麦大枣汤">甘麦大枣汤</a></td>							
                        </tr>                      			
                    </table>
                    <br />
				
	</div>
   
  
</div>



		</div>
		
	    <script type="text/javascript" src="https://static.c9.io/nc-3.1.3492-89e670f8/static/homepage/javascripts/pages/footer.js"></script>
		<!--Bootstrap core JavaScript -->
		<script type="text/javascript" src="https://static.c9.io/nc-3.1.3492-89e670f8/static/homepage/javascripts/bootstrap.min.js"></script>
		<!--Authentication scripts -->
		<script type="text/javascript" src="https://static.c9.io/nc-3.1.3492-89e670f8/static/homepage/javascripts/account.js"></script>
	</body>
</html>